/* Root */

:root {
    --primary-font: 'Electrolize', sans-serif;
    --primary-color: #514D4A;
    --secondary-color: #F84342;
    --highlight-color: #F50295;
    --default-transition: 250ms all ease-in-out;
}


/* Utilities */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}


/* In-built */

body {
    
    text-align: center;
    font-family: var(--primary-font);
    
}

h1 {
    font-size: 72px;
    color: var(--secondary-color);
    text-shadow: white 0px 0px 2px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    color: var(--highlight-color);
}


/* Classes */

.game-body {
    background: url(/src/images/background.jpg);
    background-size: cover;
}

.col-4 {
    flex-basis: 33.33%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }

.landing-image {
   display: grid;
   max-width: 100%;
max-height: 100%;
place-items: center;
}

.landing-page-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.play-button {
    font-family: var(--primary-font);
    background-color: white;
    font-size: 24px;
    border: solid 5px var(--secondary-color);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 35px;
    padding: 20px 40px;
    box-shadow: 5px 5px 5px darkgray;
}

.play-button:hover {
    color: white;
    background-color: var(--highlight-color);
    border: solid 5px var(--highlight-color);
    transition: var(--default-transition);
}

.play-link {
    text-decoration: none;
}

.play-link:visited {
    text-decoration: none;
    color:inherit;
}

/* .prize-col {
    background-image: url(/src/images/shoe.jpg);
    background-size: cover;
} */

/* IDs */

#board {
    width: 540px;
    height: 540px;
    background: url(/src/images/game-board-background.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 20px;

}


#game-explanation {
    line-height: 1.5;
    color: var(--primary-color);
    padding: 15px 20px;
    border: dashed 2px var(--secondary-color);
    border-radius: 5px;
    margin: 15px 20px 30px 20px ;

}

#level-number {
    font-size: 42px;
    background-color: var(--secondary-color);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    /* text-shadow: white 0px 0px 2px; */
}
#prize-image {
    max-width: 50%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    border: 3px solid white;
}

#prize {
    background-color: white;
    color: var(--highlight-color);
    font-size: 32px;
    margin-bottom: 20px;
}